<h2>平台简介：</h2>
&nbsp; &nbsp; &nbsp; Online Judge平台系统（简称OJ）是一个B/S架构的源程序判题系统。可以在线提交多种程序（如C、C++、Java）源代码，系统对源代码进行编译和执行，并通过预先设计的测试用例来检验程序源代码的正误。 可以在Online Judge系统上练习编程，参加竞赛，提高自己的编程水平，并可以用于数据结构、程序设计教学的实验和考试。<br />
这是一个开源项目，任何人可以下载使用部署，开源地址：<a href="https://gitee.com/jungle/online-judge" target="_blank">https://gitee.com/jungle/online-judge</a><p></p>
<h2>支持特性:</h2>
<ol><li>Online Judge Kernel支持所有可命令行编译和运行的程序语言；支持按语言分布式部署；支持动态添加程序语言。</li>
<li>Online Judge Kernel支持Virtual Judge：<a href="http://acm.hdu.edu.cn/" rel="nofollow">http://acm.hdu.edu.cn</a>&nbsp;。</li>
<li>Online Judge Kernel支持命令行管理，命令行特性支持命令联想、自动补全等功能，极大方便了系统的管理。</li>
<li>Online Judge Kernel支持ACM和OI模式的判题，可以通过命令行judge mode acm(oi)灵活切换，默认为ACM模式；</li>
<li>Online Judge Kernel支持作为Telnet服务器，被远程连接管理。</li>
<li>Online Judge Kernel支持作为FTP服务器，提供FTP服务。</li>
<li>Online Judge Kernel支持API Hook安全防护。</li>
<li>Online Judge Web Platform支持ACM和CodeJam两种竞赛模式。</li>
<li>Online Judge Kernel支持采集知名OJ的最近比赛信息（<a href="http://codeforces.com/contests" rel="nofollow">Codeforces</a>、<a href="http://acm.zju.edu.cn/onlinejudge/showContests.do" rel="nofollow">ZOJ</a>、<a href="http://acm.hdu.edu.cn/contests/contest_list.php" rel="nofollow">HDU</a>、<a href="http://atcoder.jp/" rel="nofollow">AtCoder</a>、<a href="https://hihocoder.com/contests" rel="nofollow">HihoCoder</a>，持续添加）。<br />
</li>
</ol>
<h2>
开源动态：
<script src="https://gitee.com/jungle/online-judge/widget_preview" defer="" async=""></script>
</h2>
<div id="osc-gitee-widget-tag"></div>
<style>
.pro_name a{color: #4183c4;}
.osc_git_title{background-color: #fff;}
.osc_git_box{background-color: #fff;}
.osc_git_box{border-color: #E3E9ED;}
.osc_git_info{color: #666;}
.osc_git_main a{color: #9B9B9B;}
</style>