<div class="sidebox roundbox">
<div class="roundbox-rt">&nbsp;</div>
<div class="top-link" style="border-bottom:1px solid #b9b9b9;">
<div class="title-sidebox" style="width:100%;">Web Board</div>
</div>
<div class="" style="padding:6px;"><div style="text-align:center;"><span style="line-height:1.5;">GUET ACM群：</span><span class="value text-cursor" id="qid" style="line-height:1.5;color:#e53333;"><b>108855616</b></span></div>
<p style="text-align:center;">欢迎各位ACMers加入，随时讨论问题<br />
<span style="font-size:10px;"><b><span style="font-size:10px;color:blue;"><br />
<br />
</span></b></span></p>
<p style="text-align:center;"></p>
</div>
</div>