<div class="sidebox roundbox">
<div class="roundbox-lt">&nbsp;</div>
<div class="roundbox-rt">&nbsp;</div>
<div class="top-link" style="border-bottom:1px solid #b9b9b9;">
<div class="title-sidebox" style="width:100%;">Web Board</div>
</div>
<div class="" style="padding:6px;"><div style="text-align:center;">
<a href="https://gitee.com/jungle/online-judge"><img src="https://gitee.com/jungle/online-judge/widgets/widget_6.svg" alt="Fork me on Gitee" /></a> <p style="text-align:center;"></p>
</div>
<p style="text-align:center;"></p>
</div>
</div>