<tr>
<td class="left-item dark ">1</td>
<td class="user dark "><span  class="user" ><a href="profile/zhaopeng" title="zhaopeng" class="user-tip" user="zhaopeng">
zhaopeng


</a></span></td>
<td class=" dark ">106</td>
</tr>
<tr>
<td class="left-item  ">2</td>
<td class="user  "><span  class="user" ><a href="profile/C.Meepo" title="C.Meepo" class="user-tip" user="C.Meepo">
C.Meepo


</a></span></td>
<td class="  ">95</td>
</tr>
<tr>
<td class="left-item dark ">3</td>
<td class="user dark "><span  class="user" ><a href="profile/XiaoWen" title="XiaoWen" class="user-tip" user="XiaoWen">
XiaoWen


</a></span></td>
<td class=" dark ">83</td>
</tr>
<tr>
<td class="left-item  ">4</td>
<td class="user  "><span  class="user" ><a href="profile/ACSolo" title="ACSolo" class="user-tip" user="ACSolo">
Jungle

</a></span></td>
<td class="  ">82</td>
</tr>
<tr>
<td class="left-item dark ">5</td>
<td class="user dark "><span  class="user" ><a href="profile/acmlgt" title="acmlgt" class="user-tip" user="acmlgt">
1000710117李光挺

</a></span></td>
<td class=" dark ">79</td>
</tr>
<tr>
<td class="left-item  ">6</td>
<td class="user  "><span  class="user" ><a href="profile/nanke_" title="nanke_" class="user-tip" user="nanke_">
南柯

</a></span></td>
<td class="  ">63</td>
</tr>
<tr>
<td class="left-item dark ">7</td>
<td class="user dark "><span  class="user" ><a href="profile/kjyixw" title="kjyixw" class="user-tip" user="kjyixw">
无敌小板凳

</a></span></td>
<td class=" dark ">58</td>
</tr>
<tr>
<td class="left-item  ">8</td>
<td class="user  "><span  class="user" ><a href="profile/jiangliwu" title="jiangliwu" class="user-tip" user="jiangliwu">
vainner

</a></span></td>
<td class="  ">57</td>
</tr>
<tr>
<td class="left-item dark ">9</td>
<td class="user dark "><span  class="user" ><a href="profile/leijunkun" title="leijunkun" class="user-tip" user="leijunkun">
leijunkun


</a></span></td>
<td class=" dark ">54</td>
</tr>
<tr>
<td class="left-item  bottom">10</td>
<td class="user  bottom"><span  class="user" ><a href="profile/cxlove" title="cxlove" class="user-tip" user="cxlove">
cxlove


</a></span></td>
<td class="  bottom">50</td>
</tr>

